### read json

In [2]:
import pandas as pd 
df=pd.read_json('data.json')
print(df.to_string)

<bound method DataFrame.to_string of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [3]:
#using python dictionary
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

## analysing framework

## 1.viewing data

In [4]:
# One of the most used method for getting a quick overview of the DataFrame, is the head() method.

# The head() method returns the headers and a specified number of rows, starting from the top
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head(10))

   Index      Customer Id First Name  Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl     Baxter
1      2  1Ef7b82A4CAAD10    Preston     Lozano
2      3  6F94879bDAfE5a6        Roy      Berry
3      4  5Cef8BFA16c5e3c      Linda      Olsen
4      5  053d585Ab6b3159     Joanna     Bender
5      6  2d08FB17EE273F4      Aimee      Downs
6      7  EA4d384DfDbBf77     Darren       Peck
7      8  0e04AFde9f225dE      Brett     Mullen
8      9  C2dE4dEEc489ae0     Sheryl     Meyers
9     10  8C2811a503C7c5a   Michelle  Gallagher

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla
5                     Steele Group      Chavezborough
6     Lester, Woodard and Mitchell           Lake Ana
7     Sanford, Davenport and Giles            Kimport
8                   Browning-Simon       Robersonstad
9                     Beck-Hendrix         Elaineberg

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486
5      Bosnia and Herzegovina     (283)437-3886x88321           999-728-1637
6            Pitcairn Islands      (496)452-6181x3291   +1-247-266-0963x4995
7                    Bulgaria    001-583-352-7197x297       001-333-145-0369
8                      Cyprus       854-138-4911x5772    +1-448-910-2276x729
9                 Timor-Leste        739.218.2516x459   001-054-401-0347x617

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/
5          louis27@gilbert.com        2020-02-25       http://www.berger.net/
6          tgates@cantrell.com        2021-08-24          https://www.le.com/
7              asnow@colon.com        2021-04-12  https://hammond-ramsey.com/
8      mariokhan@ryan-pope.org        2020-01-13     https://www.bullock.net/
9            mdyer@escobar.net        2021-11-08           https://arias.com/

In [5]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head()) # it print 1st 5 rows

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

In [6]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.tail())
#last 5 rows

    Index      Customer Id First Name Last Name                Company  \
95     96  cb8E23e48d22Eae       Karl     Greer              Carey LLC
96     97  CeD220bdAaCfaDf       Lynn  Atkinson  Ware, Burns and Oneal
97     98  28CDbC0dFe4b1Db       Fred    Guerra          Schmitt-Jones
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer     Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence    Haynes     Le, Nash and Cross

               City          Country               Phone 1  \
95     East Richard           Guyana   (188)169-1674x58692
96     New Bradview        Sri Lanka       +1-846-706-2218
97       Ortegaland  Solomon Islands  +1-753-067-8419x7170
98  Lake Elijahview            Aruba         (530)311-9786
99        Judymouth         Honduras         (753)813-6941

                   Phone 2                           Email Subscription Date  \
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

## info about the data

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB
None